/* common shared styles */
body {
  font-family: 'Open Sans', sans-serif;
}

.text-primary {
  color: #E55473;
}

.btn-primary {
  border-radius: 5px;
  background-color: #E55473;
  padding: 20px 40px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

header {
  background-color: #fedee5;
}

.banner {
  display: flex;
  padding: 30px 30px 0px 150px;
  align-items: center;
  justify-content: space-between;
}

.banner .banner-image {
  width: 635px;
  height: 800px;
  padding-top: 50px;

}

.banner p {
  font-size: 18px;
  color: #272727;
}

.banner-title {
  font-size: 70px;
  font-weight: 800;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

.featured {
  padding: 50px;
  background-color: #ffffff;

}

.section-title {
  color: #000;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 0%;

}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 16px;
}

.flower-container {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.flower-image {
  padding-top: 50px;
  width: 220px;
  height: 300px;
  padding: 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding-bottom: 0px;

}
.one{
  background-color: #f7cbde;
}
.two{
  background-color: #c8f9fb;
}
.three{
  background-color: #dbf9b9;
}

.service{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f1f0;

}
.service-items{
  padding: 50px ;
  text-align: center;
  font-size:18px ;
}
.offer{
  /* width:1440px;
  height: 620px; */
  background-color: #f9edf0;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:100px 120px 60px 150px ;

}
.offer-section{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.roses{
  width: 200px;
}
span{
  color: #E55473;
}
.Instagram-title{
  margin-top: 70px;
  padding-top: 30px;
}
.instagram-image{
  margin-top: 35px;
}
.inst-images{
  width: 250px;
  padding: 10px;
}
.submit-section{
  margin-top: 100px;
  width: 1080px;
  height: 350px;
  background-image: url(/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-size: 1440px;
  align-items: center;
  text-align: center;
padding-top:80px ;
}


.btn-email{
  margin-right:5px;
  margin-top: 20px;
  width: 450px;
  padding: 25px;
  border-radius: 5px;
  border: none;
}




.footer-section{
  width: 100%;
  color: #ffffff;
  background-color: #272727;
 align-items: center;
 text-align: center;
 padding: 50px;
 margin-top: 70px;
 
}
.footer-title{
  font-size: 35px;
}
.footer-text{
  padding: 10px;
  font-size: 15px;
}